<div class="container">
  <%= simple_form_for [@feeling] do |f| %>
    <%= f.input :name%>
    <%= f.input :percentage, as: :integer, input_html: { maxlength: 3 } %>
    <%= f.input :photo, as: :file %>
    <%= f.button :submit, class: "btn btn-light" %>
  <% end %>
  <%= link_to "Return", root_path, class: "btn btn-light" %>
</div>
