<div class="container mt-3">
    <div class="card_main justify-content-center">
      <% if @feeling.photo.key %>
        <%= cl_image_tag @feeling.photo.key, width:600, height:600, class:'card_img' %>
      <% end %>
    <div class="info_card">
        <h2><%= @feeling.name %></h2>
        <p class="description">Description: <%= @feeling.description %></p>
        <p>Percentage: <%= @feeling.percentage %>%</p>
        <div class="btns">
            <% if @feeling.user != current_user %>
          <%= link_to "Buy", new_feeling_order_path(@feeling), class:"btn btn-primary", width: "100%" %>
            <% else %>
          <%= link_to "Edit", edit_feeling_path(@feeling), class:"btn btn-primary", width: "100%" %>
          <% end %>
      </div>
      </div>
    </div>
    <div class="btn_back">
    <%= link_to "Return", root_path, class: "btn btn-secondary" %>
    </div>
</div>
