<div class="container">
  <div class="row">
    <div class="ns mt-5 mb-5 ">  <h1 class="ns ml-3 ">My Requests</h1></div>
    <% @orders.each do |order| %>
      <div class=" col-lg-4 col-md-6 col-sm-12 col-xs-12 mt-3">
        <div class="card-product">
          <% if order.feeling.photo.key %>
            <%= cl_image_tag order.feeling.photo.key, height: 300, width: 400, crop: :fill %>
          <% end %>
          <div class="card-cont">
            <div class="card-product-infos">
              <div class="card_info">
                <h2><%= order.feeling.name %></h2>
                <p><strong><%= order.total_price %>%</strong></p>
                <p>Acquired from: <strong><%= order.user.email %></strong></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

  <div class="btn_back">
    <%= link_to "Add more feelings", feelings_path, class: "btn btn-primary" %>
  </div>
